/* Only applies to login/register pages */
.auth-page {
  background-color: #2c0d57; /* Dark blue */
  min-height: 100vh;          /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form box */
.auth-container {
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  background: #fafafa;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}

.auth-input {
  width: 90%;
  padding: 12px;
  margin: 12px auto;
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}

.auth-button {
  padding: 12px;
  width: 95%;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
}

.auth-button:hover {
  background: #0056b3;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-input {
  padding-right: 40px; /* space so text doesn't overlap icon */
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
