.group-card {
  background: white;
  padding: 14px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  text-decoration: none;
  color: black;
  display: block;
}
.group-card:hover {
  background: #e8f0fe;
}
.group-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.group-card {
  flex: 1;
  padding: 10px;
  background-color: #f1f1f1;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #c0392b;
}

