.create-group-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;     
  min-height: 100vh;
}

.create-group-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;     
  gap: 18px;                   
}

.group-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.create-btn {
  width: 100%;
  padding: 12px;
  background: #4b7bec;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.create-btn:hover {
  background: #3867d6;
}
