.dashboard-container {
  display: flex;
  min-height: 100vh;
}


.main-content {
  flex-grow: 1;
  margin-left: 220px;  
  padding: 40px;
  background: #f9f9f9;

  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  text-align: center;      
}

.main-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #1f2a44;
}

.main-content p {
  font-size: 16px;
  color: #555;
  margin-top: 0;
}
