.auth-page {
  background-color: #5683af; /* dark blue */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  width: 400px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  background: #fafafa;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.auth-input {
  width: 90%;
  padding: 12px;
  margin: 12px auto;
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}

.auth-button {
  padding: 12px;
  width: 95%;
  background: #007bff; /* blue for register */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
}

.auth-button:hover {
  background: #0056b3;
}

.auth-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
